.layout-container {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: teal;
  height: 3.438rem;
  z-index: 200;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 3.438rem;
  background-color: lightgreen;
  width: 72px;
  padding-top: 5px;
}
